<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
</head>

<body>
<div>
    <div>
        <h2>AMS</h2>
    </div>

    <div>
        <form th:action method="post" th:object="${loginForm}">

            <div th:if="${#fields.hasGlobalErrors()}">
                <p  th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
            </div>

            <div>
                <label for="member_id"> ID</label>
                <input type="text" id="member_id" th:field="*{member_id}">
                <div th:errors="*{member_id}" />
            </div>

            <div>
                <label for="password"> Password</label>
                <input type="text" id="password" th:field="*{member_password}">
                <div th:errors="*{member_password}" />
            </div>

            <button type="submit">로그인</button>
            <button th:onclick="|location.href='@{/}'|" type="button"> 취소</button>
        </form>
    </div>

</div>
</body>

</html>