<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:float="http://www.w3.org/1999/xhtml">

<body>
<div class="container">
    <dir >
        <h2>AMS</h2>
        <p th:text="${member_id} + '님 안녕하세요'" >empty</p>
        <dir><button class=""
              th:onclick="|location.href='@{/community/add}'|" type="button">
        글쓰기
        </button>
    </dir>
    <div>
        <table>
            <thead>
            <tr>
                <th>작성자</th>
                <th>제목</th>
                <th>작성일</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="post : ${AllPost}">
                <td  th:text="${post.post_id}"></td>
                <td>  <a th:href="@{/community/{postId}(postId=${post.id})}" th:text="${post.title}"> </a></td>
                <td th:text="${post.redate}"></td>
            </tr>
            <tr> </tr>
            </tbody>
        </table>

    </div>
</div> <!-- /container -->
</body>
</html>