<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> AMS </title>
    <meta charset="utf-8">
</head>

<body>
<div>
    <div>
        <h2>AM</h2>
    </div>

    <div class="col">
        <button class="" type="button"
                th:onclick="|location.href='@{/member/join}'|">
            회원 가입
        </button>


        <button class=""
                th:onclick="|location.href='@{/member/login}'|" type="button">
            로그인
        </button>

    </div>
</div>
</body>

</html>