<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> AMS </title>
    <meta charset="utf-8">
</head>

<body>
    <h1> Kakao Login Test</h1>
    <span th:if="${userId==null}">
        <a href = "https://kauth.kakao.com/oauth/authorize?client_id=77586d2dca03a869da31de487922651f&redirect_uri=http://localhost:8888/login&response_type=code">
            <img src = "img/kakao_login_medium_narrow.png">
        </a>

    </span>

    <span th:if="${userId!=null}">
        <form name ="logout" action="http://localhost:8888/logout">
            <input type = "submit" value="로드아웃">


        </form>

    </span>

</body>

</html>