<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <meta charset="UTF-8">
    <title>AMS</title>
</head>

<body>
<div>
    <div>
        <h2>AMS</h2>
    </div>

    <form th:action="@{/member/edit}"  th:object="${member}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p  th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>

        <div>
            <label for="member_id"> ID</label>
            <input type="text" id="member_id" th:field="*{member_id}" readonly >
            <div th:errors="*{member_id}" />
        </div>

        <div>
            <label for="member_password"> password</label>
            <input type="text" id="member_password" th:field="*{member_password}" readonly>
            <div th:errors="*{member_password}" />
        </div>

        <div>
            <label for="member_name">name</label>
            <input type="text" id="member_name" th:field="*{member_name}">
            <div th:errors="*{member_name}" />
        </div>

        <div>
            <label for="member_birth">birth</label>
            <input type="text" id="member_birth" th:field="*{member_birth}">
            <dir th:errors="*{member_birth}" />
        </div>

        <button type="submit">변경</button>
        <button th:onclick="|location.href='@{/}'|" type="button"> 취소</button>
    </form>
</div>

</body>
</html>